body{
    background-color: rgba(2, 113, 146, 0.356);
    max-width: 1270px;
    margin: 0 auto;

}


.hero-container img{
    width: 300px;
    height: 300px;
    border-radius: 25px;
}


.hero-container img:hover{
  
    cursor: pointer;

}


.hero-container{
    display: flex;
    background-color: darkcyan;
    padding: 25px;
    font-size: 1.2rem;
    align-items: center;
    gap: 40px;
    border-radius: 25px;
    margin: 50px;
}
.hero-container button{
    background-color: crimson;
    color: pink;
    font-size: 1.25em;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    cursor: pointer;
}
button:hover{
    background-color: rgb(84, 14, 197);
}