*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(13, 33, 59);
}


.container div{
    height: 100px;
    width: 100px;
    background-color: rgba(45, 9, 61, 0.753);
    border: 2px solid rgb(20, 141, 141);
    font-size: 5em;
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


.container{
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: space-evenly;

}


.box-container{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.box-container .box{

   height: 100px;
   width: 100px;
   background-color: rgb(22, 102, 102);
   border: 2px solid rgb(233, 136, 10);
   font-size: 5em;
   color: pink;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin: 20px;

}

.user-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 20px;
    
}

.user-container .box{
    height: 150px;
    width: 150px;
    background-color: rgba(20, 58, 49, 0.836);
    border: 2px solid rgb(170, 5, 38);
    font-size: 7em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



.card-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;

}
.card-container .box{
    height: 50px;
    width: 50px;
    background-color: black;
    border: 2px solid crimson;
    color: gold;
    font-size: 2em;
    text-align: center;
    align-items: center;
    justify-content: center;

}





